{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        cnuernber/dtype-next {:mvn/version "9.033"}
        org.suskalo/coffi {;; :mvn/version "0.5.357"
                           :local/root "../coffi"
                           }
        aysylu/loom {:mvn/version "1.0.2"}
        com.rpl/specter {:mvn/version "1.1.4"}
        clj-python/libpython-clj {:mvn/version "2.020"}
        com.github.igrishaev/zippo {:mvn/version "0.1.0"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}

  :project
  {:jvm-opts ["--add-modules" "jdk.incubator.foreign"
              "--enable-native-access=ALL-UNNAMED"
              "-Djava.library.path=../llvm-project/build/out/lib"]
   :jvm-cmd "/Library/Java/JavaVirtualMachines/temurin-17.jdk/Contents/Home/bin/java"}}}
