{:paths ["src" "resources" "target/classes"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}

        #_#_org.suskalo/coffi {;; :mvn/version "0.5.357"
                           :local/root "../coffi"
                           }
        net.java.dev.jna/jna {:mvn/version "5.12.1"}
        insn/insn {:mvn/version "0.5.2"}
        net.n01se/clojure-jna {:mvn/version "1.0.0"}
        aysylu/loom {:mvn/version "1.0.2"}
        com.rpl/specter {:mvn/version "1.1.4"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}

  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}
                 slipset/deps-deploy {:mvn/version "RELEASE"}}
          :ns-default build}

  :libpython
  {:jvm-opts ["--add-modules" "jdk.incubator.foreign"
              "--enable-native-access=ALL-UNNAMED"
              "-Djava.library.path=../llvm-project/build/out/lib"
              "-Djna.library.path=../llvm-project/build/out/lib"

              ]
   :jvm-cmd "/Library/Java/JavaVirtualMachines/temurin-17.jdk/Contents/Home/bin/java"
   :extra-deps [clj-python/libpython-clj {:mvn/version "2.020"}
                cnuernber/dtype-next {:mvn/version "9.033"}]
   }

  :project
  {:extra-deps {nodisassemble/nodisassemble {:mvn/version "0.1.3"}}
   :jvm-opts ["-Djna.library.path=../llvm-project/build/out/lib"]}}}
